/* Colors */
$background: #ADD9F4; /* odd */
$background-section: #F5F5F5;
$header: #25408E;
$icons-background: #E31B6D;
$icons-hover: #616161;
$textWhite: #fff;
$textBlack: #000;
$table-border: #476C9B;

$white: #fff;
$background-even: #F5F5F5; /* even */
$red: red;
$black: black;
$hover: #E31B6D;
$hover-text: #fff;
$hover-nav: #08FDD8;
$elements: #ADD9F4;
$text-styling: #984447;

$text-grey: #616161;

/* Fonts */
$standard-font: 'Open Sans', sans-serif;
$mono-font: 'Roboto Mono', monospace;

/* Fonts-size */
$standard-size: 14px;